*{

    margin: 0;
    padding: 0;

}

.container{

    display: flex;
    flex-direction: row;


}


.left-dashboard{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1992D4;
    width: 250px;
    height: 900px;




}
.dashboard-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10px;
    left: 15px;

}

.dashboard-text{

    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    top: 15px;
    left: 60px;

}


.links{

    display: flex;
    flex-direction: column;
    align-items: center;
    




}

.links div{

    width: 250px;
    height: 50px;
    align-items: center;


}

.links div:hover{

    cursor: pointer;
    background-color: #197eb4;


}

.home{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    
    



}

.home-icon{

    width: 30px;
    height: 30px;
    margin-left: 21px;



}
.home-text{

    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-left: 15px;


}


.profile{
    display: flex;
    flex-direction: row;
    
    



}

.profile-icon{

    width: 30px;
    height: 30px;
    margin-left: 21px;



}
.profile-text{

    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-left: 15px;


}
.messages{
    display: flex;
    flex-direction: row;
   
    



}

.messages-icon{

    width: 30px;
    height: 30px;
    margin-left: 21px;



}
.messages-text{

    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-left: 15px;


}

.history{
    display: flex;
    flex-direction: row;
    
    



}

.history-icon{

    width: 30px;
    height: 30px;
    margin-left: 20px;



}
.history-text{

    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-left: 15px;


}

.tasks{
    display: flex;
    flex-direction: row;
   



}

.tasks-icon{

    width: 30px;
    height: 30px;
    margin-left: 20px;



}
.tasks-text{

    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-left: 15px;


}

.communities{
    display: flex;
    flex-direction: row;

    



}

.communities-icon{

    width: 30px;
    height: 30px;
    margin-left:22px;



}
.communities-text{

    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-left: 15px;


}
/* THE END OF THE FIRST LINK PART OF THE DASHBOARD*/


.secondary-links{

    display: flex;
    flex-direction: column;
    background-color: #1992D4;
    height: 400px;


}

.secondary-links div{

    width: 250px;
    height: 50px;
    align-items: center;
    

}

.secondary-links div:hover{
cursor: pointer;
background-color: #197eb4;

}

.settings{
    display: flex;
    flex-direction: row;
    margin-right: 130px;
    
    



}

.settings-icon{

    width: 30px;
    height: 30px;
    margin-left:22px;



}
.settings-text{

    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-left: 15px;
    


}

.support{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    



}

.support-icon{

    width: 30px;
    height: 30px;
    margin-left:22px;



}
.support-text{

    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-left: 15px;


}


.privacy{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    
    



}



.privacy-icon{

    width: 30px;
    height: 30px;
    margin-left:22px;



}
.privacy-text{

    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-left: 15px;


}


/* START OF HEADER HERE*/


.right{

display: flex;
flex-direction: column;


}

.searchsection{

    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    box-shadow: 1px 4px 5px black;
    background-color: white;
    width: 1880px;
    height: 230px;
    
    

}

.search{

    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;


}

.search-icon{

    width: 30px;
    height: 30px;
    margin-left: 40px;

}

.searchbar{
    width: 700px;
    height: 30px;
    margin-left: 20px;
    border-radius: 20px;
    border:none;
    background-color: #E2E8F0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    
    



}


.account{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin-left: 400px;
    height: 100px;
    


}



.notification-icon{

    width: 30px;
    height: 30px;

}

.profile-picture{

    
    width: 60px;
    height: 60px;
    border-radius: 80%;
    top:40px;
   
    
    


}

.name-text{


    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;

}

.bottomheader{

    display: flex;
    flex-direction: row;
    height: 200px;

}
.bigger-profile{



    width: 100px;
    height: 100px;
    border-radius: 80%;
    margin-left: 30px;


}


.hello-text{

    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 50px;

}

.greetings{
    
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;



}
.fullname{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 30px;


}

.buttons{

    display: flex;
    flex-direction: row;
    gap:100px;
    align-items: center;
    margin-left: 500px;
    margin-bottom: 10px;
}


.btn{

    background-color: #1992D4;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 40%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}


.right{

background-color: #E2E8F0;


}